Repository sp00cky/freebsd-collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, playbook, role, plugin, profile, test, ops

.github/labeler.yml:

---

documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**/*']

build:
  - changed-files:
      - any-glob-to-any-file: ['requirements-dev.txt', 'galaxy.yml']

playbook:
  - changed-files:
      - any-glob-to-any-file: 'playbooks/*'

role:
  - changed-files:
      - any-glob-to-any-file: 'roles/*'

plugin:
  - changed-files:
      - any-glob-to-any-file: 'plugins/*'

profile:
  - changed-files:
      - any-glob-to-any-file: 'profiles/**/*'

test:
  - changed-files:
      - any-glob-to-any-file: ['molecule/**/*', 'tests/**/*', 'profiles/test/*']

ops:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

feature:
  - head-branch: ['^feature', 'feature']

Update dotfiles repo
  profiles/bigmac/station.yml
Labels: profile

Update FUNDING.yml
  .github/FUNDING.yml
Labels: ops

changed profile URL
  playbooks/station.yml
Labels: playbook

Restore original
  .github/FUNDING.yml
Labels: ops

move imhex pkg to security group
  profiles/bigmac/station.yml
Labels: profile

different comments and adjustments
  README.md
  profiles/bigmac/station.yml
Labels: documentation, profile

added comments and new profile
  profiles/bigmac/awesome.yml
  roles/qmk/README.md
  roles/qmk/meta/argument_specs.yml
Labels: profile

additional comments
  README.md
Labels: documentation

add micro to the packages
  docs/docsite/links.yml
  profiles/bigmac/awesome.yml
Labels: documentation, profile

moved some packages around
  profiles/bigmac/awesome.yml
Labels: profile

add new role for macbook
  playbooks/station.yml
  profiles/bigmac/awesome.yml
  roles/macbook/README.md
  roles/macbook/defaults/main.yml
  roles/macbook/meta/argument_specs.yml
  roles/macbook/meta/main.yml
  roles/macbook/tasks/main.yml
Labels: playbook, profile

add nvidia role
  playbooks/station.yml
  profiles/bigmac/awesome.yml
  roles/nvidia/README.md
  roles/nvidia/defaults/main.yml
  roles/nvidia/meta/argument_specs.yml
  roles/nvidia/meta/main.yml
  roles/nvidia/tasks/main.yml
  roles/nvidia/templates/20-nvidia.conf.j2
Labels: playbook, profile

comments and nvidia, xorg role updates/fixes
  docs/docsite/rst/xinit.rst
  galaxy.yml
  profiles/bigmac/awesome.yml
  profiles/bigmac/notes1.md
  profiles/bigmac/notes2.md
  roles/nvidia/templates/20-nvidia.conf.j2
  roles/xorg/README.md
  roles/xorg/defaults/main.yml
  roles/xorg/meta/argument_specs.yml
  roles/xorg/meta/main.yml
  roles/xorg/tasks/main.yml
  roles/xorg/templates/00-keyboard.conf.j2
Labels: documentation, build, profile
